:root {
    /* Colores */
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif ;
    scroll-behavior: smooth;
}
header {
    height: 20vh;
    background-color: black;
}
header img {
    position : absolute;
    top: 3vh;
    right: 25px;
    width: 150px;
    height: 100px;
    
}
main {
    width: 100%;
    height: auto;
    background-color:var(--off-white)
}
.mostrar {
    left:0;
}
main .container-seccion {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    /*border: 5px solid red;/* para testeo*/
}
main .main-plans-container {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}
main .container-seccion--quienes-somos {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  
}
main .container-seccion--problematica {
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 10%;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

main .container-seccion--sobre {
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 10%;

    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}
.container-seccion--sobre---one img {
    padding-top: 13vh;
    width: 100%;
}
.container-seccion--sobre---one p {
    font-size: 1.9rem;
    text-align: center;
    padding-top: 10px;

}
.container-seccion--problematica---one ,.container-seccion--problematica---two{
}
.container-seccion--problematica---one img {
    width: 100%;
    padding-top: 13vh;
}
.container-seccion--sobre---two {
    display: grid;
    padding-top: 50px;
    grid-template-columns: 50% 50% ;
    text-align: center;
}
.container-seccion--sobre---two div {

}

.container-seccion--sobre---two img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.seccion--problematica---one {
    width: 100%;
    height: 50%;
    padding: 50px;
}
.seccion--problematica---two {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 0 50px;
}
.seccion--problematica---two .texto-one {
   height: 100%;
   padding : 10%;
}
.seccion--problematica---two .texto-two {
    border-left: 5px solid black;
    height: 100%;
    padding : 10%;
}

.container-seccion--quienes-somos--one {
    padding-right: 10px;
    border-right: 5px solid black;
    height: 100%;
}
.container-seccion--quienes-somos--two {
    height: 100%;
    padding-right: 10px;
    border-right: 5px solid black;
}
.container-seccion--quienes-somos--three{
    
}
.quienes-somos--one, .quienes-somos--two {
display: block;
margin-top: 20px;    
width: 100%;
height: 50%;
border: none;

}
.quienes-somos--one , .quienes-somos--two {
    display: grid;
    grid-template-columns: 30% 70%;

}
.quienes-somos--one---image {
    width: 100%;
    height: 50%;
    padding-top : 6%;
}
.quienes-somos--one---image img {
    width: 100%;
    height: 90%;
    padding-top: 10px;
}
.quienes-somos--one---text {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    height: 100%;

}


.container-seccion--one img {  
    display: block;
    margin : 100px auto;
    height: 250px;
}
.container-seccion--two {
    
   
    
}
.container-seccion--two p {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    
}
.container-seccion--button {
    margin: 0 auto;
    width: 50%;
    
}

.container-seccion--ayuda .container-seccion--ayuda--one {
    display:block;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #000;
}

.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 15px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px;
    height: 50px;
}
.btn-1 {
    background: black;
    color: white;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.btn-1::after, .btn-1::before {
content : "";
position : absolute;
opacity : 0.3;
background: #000;
border-radius: inherit;
width: 100%;
height: 100%;
left: 0;
bottom: 0;
z-index: -1;
transition: transform 0.3s ease;
}

.btn-1:hover {
    transform : translate(-12px , -12px);

}
.btn-1:hover::after {
    transform : translate(6px, 6px)

}
.btn-1:hover::before {
    transform : translate(12px, 12px)
    
}

header p {
    height: 100%;
    font-size: 6rem;
    color: white;
    margin: 0 auto;

    padding: 2%;
}

p .second-title {
    font-weight: bold;
}

body {
  font-family: "Oswald", sans-serif;
  background-color:white;
  color: #1e272e;
  color: black;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

.nav-main {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

.nav-brand {
  width: 50px;
}


.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
  margin: 0 auto 6px 0px;
  width: 20%;
}

.nav-main ul li a {
  padding: 0px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid black;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 10px;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    margin-top: 120px;
    background: black;
}

/*PRECIOS */
.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding: 70px 0;
    text-align: center;
}
.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom:50px;
}
.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--card {
    position:relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 290px;
    max-width: 300px;
    height: 350px;
    margin: 50px 5px 0;
    padding :20px 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 10px 10px 10px  rgba(89,73, 30, 0.16);
}
.plans-container--card .recommended { 
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 50px);
    font-size: 1.5rem;
    top: -15px;
    margin: 0;
    padding: 6px;
    background-color: var(--black);
    border-radius: 8px;
    color: var(--just-white);
}
.plan-card--title {
    padding-top:30px;
    font-size:1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:black;
}
.plan-card--price {
    padding: 5px 0;
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 5.3rem;
    color:black;
}
.plan-card--price span {
    font-size: 1.5rem;
    font-weight: 300;
    vertical-align: 25px;
}
.plan-card--saving {
    font-size:1.5rem;
    color : #757575;
}
.plan-card--ca {
    font-family: "DM Sans", sans-serif;
    width: 150px;
    height: 48px;
    margin-top: 25px;
    bottom: 5px;
    background-color: #faf8f7;
    border:3px solid var(--black);
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);

}
.one-card, .two-card {
    margin-top: 70px;
}
.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./img/right-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

.plans-container--slider {
    display : flex;
    gap: 50px;
    padding-left: 350px;
    height: 450px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}